@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    background-color: #F6F6F6;
}

h1 {
    font-weight: bold;
    font-size: 45px;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h4 {
    margin-bottom: 5px;
}

p {
    margin: 0;
}

hr {
    margin-top: 0;
    margin-bottom: 15px;
    border: 0;
    border-top: 2px solid #c6c6c6;
}

.section {
    max-width: 920px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 960px) {
    .section {
        max-width: 450px;
    }

}

.section h3 {
    text-align: center;
}

.section h2 {
    text-align: center;
    margin-bottom: 5px;
}