@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    background-color: #F6F6F6;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 45px;
    margin: 0;
}

.profile-section {
    text-align: center;
    margin-bottom: 20px;
    flex: 1 100%;
}

.profile-section h3 {
    font-weight: unset;
}

#profilePicture {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.section {
    max-width: 1380px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.repo-section {
    flex: 0 100%;
}

.section h3 {
    text-align: center;
}

.repos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#repoList {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 10px;
    border-radius: 15px;
    flex: 0 1;
    box-sizing: border-box;
}

@media (min-width: 490px) {
    li {
        min-width: 450px;
    }
}

@media (max-width: 490px) {
    li {
        min-width: 90%;
    }
}

h4 {
    margin-bottom: 5px;
}

p {
    margin: 0;
}

.lang {
    padding: 0;
    cursor: pointer;
}

.lang_box {
    display: block;
    width: 78px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #fff;
    background-color: #fff;
}

.lang_button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
}

.repoName {
    display: flex;
    justify-content: center;
}

.repoName h4 {
    font-weight: bold;
    text-align: center;
    margin-top: 2px;
}

.repoName img {
    width: 30px;
    height: 30px;
    border-radius: 10%;
    margin-right: 5px;
}

.repoDescription {
    margin-top: 10px;
}

.repoLanguages {
    display: flex;
    margin-top: 5px;
}

.repoLanguages p {
    margin-top: -3px;
    margin-left: 2px;
    margin-right: 2px;
}

.repoLanguages img {
    width: 20px;
    height: 20px;
}

@media (max-width: 490px) {
    .repoLanguages {
        display: none;
    }
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 2px solid #d7d7d7;
}
