.lang-section {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    position: sticky;
    margin-left: -15px;
    top: 47%;
    left: 0;
}

@media (max-width: 600px) {
    .lang-section {
        bottom: 0;
        top: auto;
    }
}

.lang-box {
    display: flex;
    flex-direction: column;
    width: 40px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #fff;
    background-color: #fff;
}

.lang {
    padding: 0;
    cursor: pointer;
}

.lang-button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
}