.language-box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    gap: 20px;
}

.language-circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}